perlprog/Configurator/templates/Commander/config_deployment.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="TopLink">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Core">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TDL_Kernel">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="DLIP_Address" type="ip_address" />
                                        <xs:element name="DLIP_Remote_Address" type="ip_address" />
                                        <xs:element name="JREP_TCP_Port" type="unsignedInt_JREP_TCP_Port" />
                                        <xs:element name="MIDS_TCP_Port" type="unsignedInt_MIDS_TCP_Port" />
                                        <xs:element name="Own_Unit_System_TN" type="unsignedInt_Own_Unit_System_TN" />
                                        <xs:element name="SIMPLE_IF">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="SIMPLE">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="SIMPLE_NODE_ID" type="Integer_SIMPLE_NODE_ID" />
                                                                <xs:element name="SIMPLE_NODE_NAME" type="string_SIMPLE_NODE_NAME" />
                                                                <xs:element name="SIMPLE_IP_ADDRESS" type="string_SIMPLE_IP_ADDRESS" />
                                                                <xs:element name="SIMPLE_PORT" type="Integer_SIMPLE_PORT" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="JREP">
                                <xs:complexType>
                                    <xs:sequence />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Remote_L11">
                                <xs:complexType>
                                    <xs:sequence />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="C2">
                    <xs:complexType>
                        <xs:sequence />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="unsignedInt_MIDS_TCP_Port">
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="65535" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string_SIMPLE_NODE_NAME">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:simpleType name="Integer_SIMPLE_NODE_ID">
        <xs:restriction base="xs:integer" />
    </xs:simpleType>
    <xs:simpleType name="unsignedInt_Own_Unit_System_TN">
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="15000" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="unsignedInt_JREP_TCP_Port">
        <xs:restriction base="xs:unsignedInt">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="32767" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string_SIMPLE_IP_ADDRESS">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:simpleType name="ip_address">
        <xs:restriction base="xs:string">
            <xs:pattern value="((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]).){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])" />
            <xs:pattern value="localhost" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Integer_SIMPLE_PORT">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1024" />
            <xs:maxInclusive value="32500" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>