GAN_Configurator/Configuration/Templates/CORE_SUPERVISOR/DEPLOYMENT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="deployment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Remote_Syslog_Port" type="xs:unsignedShort" />
        <xs:element name="TcpIp_Server_Port" type="xs:unsignedShort" />
        <xs:element name="TcpIp_Server_Visu_Adress" type="xs:string" />
        <xs:element name="KeepAliveMessageFrequency" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>