perlprog/GAN_Configurator/Configuration/Templates/CORE_SUPERVISOR/FACTORY.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name ="Action">
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="script" type="xs:string" use="required" />
    <xs:attribute name="stateref" type="xs:string" use="required" />
    <xs:attribute name="context" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name ="System">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="action" type="Action"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="system" type="System"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="component" type="Component"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="state-spread" type="xs:boolean" use="optional" />
    <xs:attribute name="access-group" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name ="Component">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="action" type="Action"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="typeref" type="xs:string" use="required" />
    <xs:attribute name="state-spread" type="xs:boolean" use="required" />
    <xs:attribute name="access-group" type="xs:string" use="required" />
  </xs:complexType>
  <xs:element name="factory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="states">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="state">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="default-context" type="xs:string" use="required" />
                  <xs:attribute name="aggregate" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="types">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="state">
                      <xs:complexType>
                        <xs:attribute name="idref" type="xs:string" use="required" />
                        <xs:attribute name="security-level" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="keep-alive" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="supervision">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="system" type="System"/>           
            </xs:sequence>
            <xs:attribute name="context-id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>